n8n_workflow.json
{
    "nodes": [
        {
            "parameters": {
                "operation": "Select",
                "schema": "public",
                "table": "prompts",
                "limit": 10,
                "where": {
                    "conditions": [
                        {
                            "column": "status",
                            "value": "pending",
                            "condition": "equal"
                        }
                    ]
                }
            },
            "name": "Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "return items.map(item => {\n  const prompt = `${item.json.character} wearing ${item.json.clothing} in ${item.json.pose} at ${item.json.scene}`;\n  return {\n    json: {\n      ...item.json,\n      combinedPrompt: prompt,\n      folderName: `${item.json.character}-${item.json.clothing}`\n    }\n  };\n});"
            },
            "name": "Combine Prompts",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "command": "python /app/scripts/generate_images.py \"{{$node[\"Combine Prompts\"].json[\"combinedPrompt\"]}}\"",
                "executionMode": "item"
            },
            "name": "Generate Images",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "serviceAccount",
                "resource": "file",
                "operation": "upload",
                "drive": "onedrive",
                "folderPath": "/nsfw-images/{{$node[\"Combine Prompts\"].json[\"folderName\"]}}",
                "fileName": "{{$node[\"Generate Images\"].json[\"fileName\"]}}",
                "options": {}
            },
            "name": "Upload to OneDrive",
            "type": "n8n-nodes-base.microsoftOneDrive",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "operation": "Update",
                "schema": "public",
                "table": "prompts",
                "where": {
                    "conditions": [
                        {
                            "column": "id",
                            "value": "={{$node[\"Combine Prompts\"].json[\"id\"]}}"
                        }
                    ]
                },
                "columns": {
                    "status": "completed",
                    "image_url": "={{$node[\"Upload to OneDrive\"].json[\"webUrl\"]}}"
                }
            },
            "name": "Update Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "triggerTimes": {
                    "item": [
                        {
                            "mode": "everyX",
                            "value": 10,
                            "unit": "minutes"
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
                50,
                300
            ]
        }
    ],
    "connections": {
        "Supabase": {
            "main": [
                [
                    {
                        "node": "Combine Prompts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Combine Prompts": {
            "main": [
                [
                    {
                        "node": "Generate Images",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Images": {
            "main": [
                [
                    {
                        "node": "Upload to OneDrive",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to OneDrive": {
            "main": [
                [
                    {
                        "node": "Update Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}